In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
bx_books = pd.read_csv(r"C:\Users\User pc\Desktop\DATA SCIENCE TO DO\Data-Science-to-do\Data\Data\bx_books.csv")
bx_books

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271374,440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271375,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271377,192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271378,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [12]:
bx_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 271379 non-null  object
 1   book_title           271379 non-null  object
 2   book_author          271377 non-null  object
 3   year_of_publication  271379 non-null  int64
 4   publisher            271314 non-null  object
dtypes: int64(1), object(4)
memory usage: 10.4+ MB

In [15]:
bx_books.isna()

         isbn  book_title  book_author  year_of_publication  publisher
0       False       False        False                False      False
1       False       False        False                False      False
2       False       False        False                False      False
3       False       False        False                False      False
4       False       False        False                False      False
...       ...         ...          ...                  ...        ...
271374  False       False        False                False      False
271375  False       False        False                False      False
271376  False       False        False                False      False
271377  False       False        False                False      False
271378  False       False        False                False      False

[271379 rows x 5 columns]

In [16]:
bx_books.isnull().sum()

isbn                    0
book_title              0
book_author             2
year_of_publication     0
publisher              65
dtype: int64

In [7]:
bx_books.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [8]:
pd.DataFrame(bx_books["publisher"])

                                               publisher
0                                Oxford University Press
1                                  HarperFlamingo Canada
2                                        HarperPerennial
3                                   Farrar Straus Giroux
4                             W. W. Norton &amp; Company
...                                                  ...
271374                   Random House Childrens Pub (Mm)
271375                                      Dutton Books
271376                                HarperSanFrancisco
271377                           Oxford University Press
271378  McGraw-Hill Humanities/Social Sciences/Languages

[271379 rows x 1 columns]

In [9]:
pd.DataFrame(bx_books).T

,0,1,2,3,4,5,6,7,8,9,...,271369,271370,271371,271372,271373,271374,271375,271376,271377,271378
isbn,195153448,2005018,60973129,374157065,393045218,399135782,425176428,671870432,679425608,074322678X,...,762412119,1582380805,1845170423,014002803X,449906736,440400988,525447644,006008667X,192126040,767409752
book_title,Classical Mythology,Clara Callan,Decision in Normandy,Flu: The Story of the Great Influenza Pandemic...,The Mummies of Urumchi,The Kitchen God's Wife,What If?: The World's Foremost Military Histor...,PLEADING GUILTY,Under the Black Flag: The Romance and the Real...,Where You'll Find Me: And Other Stories,...,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Tropical Rainforests: 230 Species in Full Colo...,Cocktail Classics,Anti Death League,Flashpoints: Promise and Peril in a New World,There's a Bat in Bunk Five,From One to One Hundred,Lily Dale : The True Story of the Town that Ta...,Republic (World's Classics),A Guided Tour of Rene Descartes' Meditations o...
book_author,Mark P. O. Morford,Richard Bruce Wright,Carlo D'Este,Gina Bari Kolata,E. J. W. Barber,Amy Tan,Robert Cowley,Scott Turow,David Cordingly,Ann Beattie,...,Allan Armitage,"Allen M., Ph.D. Young",David Biggs,Kingsley Amis,Robin Wright,Paula Danziger,Teri Sloat,Christine Wicker,Plato,Christopher Biffle
year_of_publication,2002,2001,1991,1999,1999,1991,2000,1993,1996,2002,...,2002,2001,2004,1975,1993,1988,1991,2004,1996,2000
publisher,Oxford University Press,HarperFlamingo Canada,HarperPerennial,Farrar Straus Giroux,W. W. Norton &amp; Company,Putnam Pub Group,Berkley Publishing Group,Audioworks,Random House,Scribner,...,Running Press Book Publishers,Golden Guides from St. Martin's Press,Connaught,Viking Press,Ballantine Books,Random House Childrens Pub (Mm),Dutton Books,HarperSanFrancisco,Oxford University Press,McGraw-Hill Humanities/Social Sciences/Languages

In [10]:
columns = ["isbn","book_title"]
bx_books[columns]

              isbn                                         book_title
0        195153448                                Classical Mythology
1          2005018                                       Clara Callan
2         60973129                               Decision in Normandy
3        374157065  Flu: The Story of the Great Influenza Pandemic...
4        393045218                             The Mummies of Urumchi
...            ...                                                ...
271374   440400988                         There's a Bat in Bunk Five
271375   525447644                            From One to One Hundred
271376  006008667X  Lily Dale : The True Story of the Town that Ta...
271377   192126040                        Republic (World's Classics)
271378   767409752  A Guided Tour of Rene Descartes' Meditations o...

[271379 rows x 2 columns]

In [11]:
bx_index = bx_books.set_index("book_title")
bx_index

,isbn,book_author,year_of_publication,publisher
book_title,,,,
Classical Mythology,195153448,Mark P. O. Morford,2002,Oxford University Press
Clara Callan,2005018,Richard Bruce Wright,2001,HarperFlamingo Canada
Decision in Normandy,60973129,Carlo D'Este,1991,HarperPerennial
Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,374157065,Gina Bari Kolata,1999,Farrar Straus Giroux
The Mummies of Urumchi,393045218,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...
There's a Bat in Bunk Five,440400988,Paula Danziger,1988,Random House Childrens Pub (Mm)
From One to One Hundred,525447644,Teri Sloat,1991,Dutton Books
Lily Dale : The True Story of the Town that Talks to the Dead,006008667X,Christine Wicker,2004,HarperSanFrancisco
Republic (World's Classics),192126040,Plato,1996,Oxford University Press
A Guided Tour of Rene Descartes' Meditations on First Philosophy with Complete Translations of the Meditations by Ronald Rubin,767409752,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages